ConfirmWatson/Connected Services/ConnectorService/ConfirmConnector.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.confirm.co.uk/schema/am/connector/webservice" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.confirm.co.uk/schema/am/connector/webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.confirm.co.uk/schema/am/connector/webservice">
      <s:element name="ProcessOperationsRequest">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessOperationsResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="requestDoc">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcessFbiResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ProcessOperationsSoapIn">
    <wsdl:part name="ProcessOperationsRequest" element="tns:ProcessOperationsRequest" />
  </wsdl:message>
  <wsdl:message name="ProcessOperationsSoapOut">
    <wsdl:part name="ProcessOperationsResult" element="tns:ProcessOperationsResult" />
  </wsdl:message>
  <wsdl:message name="ProcessFbiSoapIn">
    <wsdl:part name="requestDoc" element="tns:requestDoc" />
  </wsdl:message>
  <wsdl:message name="ProcessFbiSoapOut">
    <wsdl:part name="ProcessFbiResult" element="tns:ProcessFbiResult" />
  </wsdl:message>
  <wsdl:portType name="ConfirmConnectorSoap">
    <wsdl:operation name="ProcessOperations">
      <wsdl:input message="tns:ProcessOperationsSoapIn" />
      <wsdl:output message="tns:ProcessOperationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcessFbi">
      <wsdl:input message="tns:ProcessFbiSoapIn" />
      <wsdl:output message="tns:ProcessFbiSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfirmConnectorSoap" type="tns:ConfirmConnectorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessOperations">
      <soap:operation soapAction="http://www.confirm.co.uk/schema/am/connector/webservice/ProcessOperations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessFbi">
      <soap:operation soapAction="http://www.confirm.co.uk/schema/am/connector/webservice/ProcessFbi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConfirmConnectorSoap12" type="tns:ConfirmConnectorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProcessOperations">
      <soap12:operation soapAction="http://www.confirm.co.uk/schema/am/connector/webservice/ProcessOperations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessFbi">
      <soap12:operation soapAction="http://www.confirm.co.uk/schema/am/connector/webservice/ProcessFbi" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfirmConnector">
    <wsdl:port name="ConfirmConnectorSoap" binding="tns:ConfirmConnectorSoap">
      <soap:address location="http://localhost:81/Connector/ConfirmConnector.asmx" />
    </wsdl:port>
    <wsdl:port name="ConfirmConnectorSoap12" binding="tns:ConfirmConnectorSoap12">
      <soap12:address location="http://localhost:81/Connector/ConfirmConnector.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>